.container {
  display: flex;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  z-index: 1;
}
.pop {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 80%;
  height: 18.75rem;
  margin-top: 115px;
  padding-left: 20px;
  margin-right: 25px;
}

.btn {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}
.btn button {
  background-color: BLACK;
  color: white;
  border: none;
  font-weight: bold;
  height: 33px;
  line-height: 18.75px;
  cursor: pointer;
  margin-right: 5px;
}

textarea {
  width: 90%;
  margin-bottom: 20px;
}
input {
  width: 90%;
}
